fastapi[all]
python-jose[cryptography]
python-multipart
pydantic[all]
pytest
unicorn
SQLAlchemy

starlette
slugify
uvicorn

asyncpg

loguru

aiosql

bcrypt
passlib
jwt

PyPika

DateTime
alembic
httpx
